@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 51 43% 94%;
    --foreground: 40 2% 30%;
    --card: 0 0% 100%;
    --card-foreground: 40 2% 30%;
    --popover: 0 0% 100%;
    --popover-foreground: 40 2% 30%;
    --primary: 41 26% 70%;
    --primary-foreground: 40 5% 15%;
    --secondary: 51 20% 88%;
    --secondary-foreground: 40 2% 30%;
    --muted: 51 20% 88%;
    --muted-foreground: 40 2% 45%;
    --accent: 77 25% 48%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 51 20% 80%;
    --input: 51 20% 85%;
    --ring: 41 26% 70%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 40 3% 12%;
    --foreground: 51 10% 80%;
    --card: 40 3% 15%;
    --card-foreground: 51 10% 80%;
    --popover: 40 3% 12%;
    --popover-foreground: 51 10% 80%;
    --primary: 41 26% 70%;
    --primary-foreground: 40 5% 15%;
    --secondary: 40 3% 25%;
    --secondary-foreground: 51 10% 80%;
    --muted: 40 3% 25%;
    --muted-foreground: 51 10% 60%;
    --accent: 77 25% 48%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 40 3% 25%;
    --input: 40 3% 25%;
    --ring: 41 26% 70%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
